.full_dashboard {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 100px;
  top: 80px;
  background-color: #353337;
}
.miner_header {
  background-color: #353337;
  position: fixed;
  top: 0;
  left: 100px;
  right: 0;
}
.miners_header {
  background-color: #353337;
  position: relative;
  top: 0;
  left: 0px;
  right: 0;
}
.miner_canvas {
  border: 10px;
  border-color: cyan;
  background-color: #353337;
  /* z-index: 9999; */
}
.tab_style_active {
  width: 91px;
  height: 30px;
  position: absolute;
  border: 0px;
  background-color: #353337;
}
.tab_style_inactive:hover {
  background-color: #353337;
}
.tab_style_inactive {
  width: 91px;
  height: 30px;
  position: absolute;
  border: 1px;
  background-color: #262428;
}
.tab_font {
  font-family: Arial;
  font-size: 12pt;
  color: Grey;
  padding: 0px;
  position: absolute;
  martin-top: 0px;
  top: 5;
  left:10;
}
.table_font {
  font-family: Arial;
  font-size: 12pt;
  color: Ivory;
  padding: 0px;
}
.canvas_style {
  border:1px;
  solid #d3d3d3;
  margin: 20px;"
}
.logo_canvas {
  position: absolute;
  left: 0;
  top: 0;
  /* border:2px solid #000000; */
}