.full_dashboard {
  /* background: #fff; */
  position: fixed;
  bottom: 0;
  right: 0;
  left: 100px;
  top: 90px;
  background-color: #353337;
  /* border-style: solid; */
  /* border-color: #262428 */
}
.miner_header {
  position: absolute;
  left: 100px;
  top: 0px;
  width: 1000px;
  height: 88px;
  background-color: #353337;
  /* border-style: solid; */
  /* border-color: #262428 */
}
.miner_canvas {
  /*width: 2000px;
  height: 80px;*/
  border: 10px;
  border-color: cyan;
  background-color: #353337;
  z-index: 9999;
}
.tab_style_active {
  width: 91px;
  height: 30px;
  position: absolute;
  border: 0px;
  background-color: #353337;
}
.tab_style_inactive:hover {
  background-color: #353337;
}
.tab_style_inactive {
  width: 91px;
  height: 30px;
  position: absolute;
  border: 1px;
  background-color: #262428;
}
.tab_font {
  font-family: Arial;
  font-size: 12pt;
  color: Grey;
  padding: 0px;
  position: absolute;
  martin-top: 0px;
  top: 5;
  left:10;
  /*vertical-align: top;*/
  /*vertical-align: middle;*/
}
